*
{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.canvas
{
    width: 100vw;
    height: 90vh;
}

.controle
{
    display: flex;
    place-content: center;
    place-items: center;
    place-self: center;
    gap: 1rem;
}